---
import Layout from '../layouts/Layout.astro';
import ContactoSection from '../components/contact/ContactoSection.astro';
---

<Layout
    title="Contacto - Turismo del Bosque"
    description="Contáctanos para resolver tus dudas o realizar una reserva. Estamos aquí para ayudarte a planificar tu viaje a Chiloé."
>
    <div class="pt-20"> 
        <ContactoSection />
    </div>


</Layout>